<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Form</title>
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <style>
        body {
            background-color: #ece6dd;
        }
        .form-container {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 0;
        }

        .order-container {
            background-image: url("img/baby.jpg");
            background-size: cover;
            background-position: center;
            position: relative; /* Needed for absolute positioning of pseudo-elements */
            height: calc(90vh); /* Subtract navbar height */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .order-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
            z-index: 1;
        }

        /*Image modify in mobile*/
        @media (max-width: 768px) {
            .order-container {
                height: 50vh; /* Smaller height on mobile devices */
            }
        }

        .button-container {
            position: relative;
            text-align: center;
            z-index: 1; /* Ensure it's above the pseudo-element */
        }

        .btn-overlay {
            display: inline-block;
            background-color: #ff9800;
            color: #fff;
            padding: 6px 10px;
            width: 150px;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            border-radius: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text-overlay {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
            text-align: center;
            color: #fff;
            z-index: 2;
            margin-bottom: 20px;
        }

        .text-overlay p {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.5;
        }

        /*cards of ingredients*/
        /*.container {*/
        /*    max-width: 960px;*/
        /*    margin: 0 auto;*/
        /*}*/

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .rounded {
            border-radius: 0.25rem;
        }

        /**/

        /*Media queries for cards*/
        /* Media queries for mobile devices */
        @media (max-width: 767px) {
            .col-6 {
                flex: 0 0 50%;
                max-width: 50%;
            }

            .card {
                margin-bottom: 1rem;
            }

            .card-body {
                padding: 0.5rem;
            }

            .card-text {
                font-size: 0.9rem;
            }
        }

        @media (max-width: 575px) {
            .col-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .card {
                margin-bottom: 1.5rem;
            }
        }

        /*.form-container {*/
        /*    padding: 15px;*/
        /*    background-color: #f8f9fa;*/
        /*    border-radius: 5px;*/
        /*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
        /*}*/

        /* Styling for the order form */
        .form-control {
            border-radius: 4px;
        }

        .place-order-btn {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }

        .card-title {
            font-size: 20px;
            font-weight: bold;
        }

        .list-group-item {
            padding: 10px 15px;
            border-radius: 0;
        }

        /* Responsive design for mobile devices */
        @media (max-width: 768px) {
            .form-container {
                margin: 0 15px;
            }

            .place-order-btn {
                font-size: 14px;
                margin-bottom: 10px;
            }

            .card-title {
                font-size: 18px;
            }
        }

        Benefits sections CSS .full-height-section {
            height: 100vh;
            background-color: #047cc3;
            color: #fff; /* White text color */
            padding: 2rem; /* Padding for spacing */
        }

        .rounded-img {
            border-radius: 20px; /* Rounded corners for the image */
            width: 400px; /* Set a fixed width for the image */
            height: auto; /* Maintain the aspect ratio of the image */
            margin-bottom: 1rem; /* Space below the image */
        }

        .section-title {
            font-size: 2.5rem; /* Increased title size */
            margin-bottom: 2rem; /* Increased space below the title */
            color: rgb(93, 93, 93); /* White text color */
            font-weight: 700;
        }

        .list-group-item {
            background-color: transparent; /* Transparent background for list items */
            border: none; /* No borders for list items */
            font-size: 1.75rem; /* Increased font size for list items */
            font-weight: 700;
            color: rgb(93, 93, 93);
            /*color: #fff; !* White text color *!*/
        }

        @media (max-width: 768px) {
            .full-height-section {
                height: auto;
                padding: 1rem; /* Adjusted padding for mobile */
            }

            .section-title {
                font-size: 2rem; /* Adjusted title size on mobile */
            }

            .list-group-item {
                font-size: 1rem; /* Adjusted list item font size on mobile */
            }

            .rounded-img {
                width: 100%; /* Full width image on mobile */
                height: auto; /* Maintain the aspect ratio of the image */
            }
        }

        nav.navbar {
            width: 100%; /* Ensure the navbar takes full width */
        }

        /*.form-container {*/
        /*    position: relative;*/
        /*    z-index: 100;  !* Or any number greater than 1 *!*/
        /*}*/
        #scrollToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 99;
            font-size: 15px;
            border: none;
            outline: none;
            background-color: #feb45d;
            color: white;
            cursor: pointer;
            padding: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        #scrollToTopBtn::before {
            content: "^";
            font-size: 25px;
        }

        #scrollToTopBtn:hover {
            background-color: #ff9933;
        }

        footer {
            background-color: #feb45d;
            color: black;
            padding: 20px;
            text-align: center;
        }

        .footer-contact {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .footer-social-icons {
            margin-top: 20px;
        }

        .footer-social-icons a {
            color: white;
            text-decoration: none;
            margin-right: 10px;
        }

        .footer-bottom {
            font-size: 14px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<button id="scrollToTopBtn" onclick="scrollToTop()"></button>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img
                    src="img/transparent.png"
                    alt="PUREE Food Facility logo"
                    width="40"
                    height="auto"
                    style="font-weight: 700"
            />
            PUREE Food Facility
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Product_details">Products</a
                    ><!--cereal khawanor niyom e niye jabe-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact</a>
                    <!--footer e niye jabe-->
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="order-container">
    <div class="button-container">
        <div class="text-overlay">
            <p>আপনার শিশুর জন্য পুষ্টিকর ও স্বাস্থকর সিরিয়াল নিন</p>
            <p>১৮টি উপাদানের নিখুঁদ মিশ্রণে ঘরোয়া পরিবেশে তৈরি</p>
        </div>
        <a href="#orderSection" class="btn-overlay"><b>এখনই অর্ডার করুন!</b></a>
    </div>
</div>
<!--Ingredients section-->
<div class="container my-5">
    <h2 class="text-center mb-4" style="font-weight: 700">
        আমাদের সিরিয়াল তৈরি করতে ব্যবহৃত উপাদান:
    </h2>
    <div class="row">
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img src="img/1.jpg" alt="আপেল" class="card-img-top rounded-top" />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">আপেল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img src="img/2.jpg" alt="কিউই" class="card-img-top rounded-top" />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">কিউই</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img src="img/3.jpg" alt="আখরোট" class="card-img-top rounded-top" />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">আখরোট</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/4.jpg"
                        alt="পেস্তা বাদাম"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">পেস্তা বাদাম</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/5.jpg"
                        alt="কাঠবাদাম"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">কাঠবাদাম</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/6.jpg"
                        alt="কাজু বাদাম"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">কাজু বাদাম</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/7.jpg"
                        alt="চিনা বাদাম"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">চিনা বাদাম</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/8.jpg"
                        alt="মটর ডাল "
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">মটর ডাল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/9.jpg"
                        alt="মসুর ডাল"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">মসুর ডাল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/10.jpg"
                        alt="বুটের ডাল"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">বুটের ডাল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/11.jpg"
                        alt="মুগ ডাল"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">মুগ ডাল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img src="img/12.jpg" alt="গম" class="card-img-top rounded-top" />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">গম</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/13.jpg"
                        alt="ভুট্টা"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">ভুট্টা</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/14.jpg"
                        alt="আমন চাল"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">আমন চাল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/15.jpg"
                        alt="পোলাও চাল"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">পোলাও চাল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/16.jpg"
                        alt="সিদ্ধ চাল"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">সিদ্ধ চাল</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img
                        src="img/17.jpg"
                        alt="সাবুদানা"
                        class="card-img-top rounded-top"
                />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">সাবুদানা</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-4">
            <div
                    class="card h-100 rounded-3 shadow-lg"
                    style="
              color: black;
              font-weight: 700;
              font-size: large;
              background-color: #feb45d;
              border: 1px solid #feb45d;
            "
            >
                <img src="img/18.jpg" alt="এলাচ" class="card-img-top rounded-top" />
                <div
                        class="card-body d-flex justify-content-center align-items-center"
                >
                    <p class="card-text m-0">এলাচ</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Benefits of Cereal-->
<div
        class="container-fluid full-height-section"
        style="background-color: rgb(237, 225, 203)"
>
    <h2 class="section-title text-center text-sm-left">
        যে কারণে আপনার বাচ্চাকে সিরিয়াল খাওয়াবেন:
    </h2>
    <div class="row h-100 align-items-center">
        <div class="col-md-6 d-flex justify-content-center">
            <img
                    src="img/cereal-eating-baby.jpg"
                    class="rounded-img"
                    alt="Baby eating cereal"
            />
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    ১. শিশুর ওজন বৃদ্ধি ও সুস্বাস্থ গঠন করে
                </li>
                <li class="list-group-item">২. প্রতিদিনের খাদ্য চাহিদা পূরণ করে</li>
                <li class="list-group-item">৩. মেধা বিকাশে সাহায্য করে</li>
                <li class="list-group-item">৪. রোগ প্রতিরোগ ক্ষমতা বৃদ্ধি করে</li>
                <li class="list-group-item">৫. বাচ্চার খাবারের রুচি বৃদ্ধি করে</li>
                <li class="list-group-item">৬. খাবারের অনীহা দূর করে</li>
                <li class="list-group-item">৭. বাচ্চার হজমশক্তি বৃদ্ধি করে</li>
            </ul>
        </div>
    </div>
</div>
<!--Section for Product photo and mannual-->
<div
        class="container-fluid full-height-section"
        style="background-color: rgb(237, 225, 203); margin-top: 40px"
        id="Product_details"
>
    <h2 class="section-title text-center text-sm-left">
        সিরিয়াল প্ৰস্তুত করার নিয়ম:
    </h2>
    <div class="row h-100 align-items-center">
        <div class="col-md-6 d-flex justify-content-center">
            <img
                    src="img/product photo.png"
                    class="rounded-img"
                    alt="Baby eating cereal"
            />
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">১. ---</li>
                <li class="list-group-item">২. ---</li>
                <li class="list-group-item">৩. ---</li>
                <li class="list-group-item">৪. ---</li>
                <li class="list-group-item">৫. ---</li>
                <li class="list-group-item">৬. ---</li>
                <li class="list-group-item">৭. ---</li>
            </ul>
        </div>
    </div>
</div>

<!--Form section-->
<div class="form-container mb-4" id="orderSection">
    <h1 class="text-center mb-4">
        অর্ডার করতে আপনার নাম, ঠিকানা ও ফোন নম্বর দিন অর্ডার কনফার্ম করুন
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/order" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">আপনার নাম *</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label"
                        >আপনার মোবাইল নাম্বার *</label
                        >
                        <input
                                type="text"
                                class="form-control"
                                id="mobile"
                                name="mobile"
                                required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">আপনার ঠিকানা *</label>
                        <textarea
                                class="form-control"
                                id="address"
                                name="address"
                                required
                        ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input
                                type="number"
                                class="form-control"
                                id="quantity"
                                name="quantity"
                                value="1"
                                min="1"
                                required
                        />
                    </div>
                    <button type="submit" class="btn btn-primary place-order-btn">
                        Place Order
                    </button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="card my-order">
                    <div class="card-body">
                        <h5 class="card-title">Your order</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Product</span>
                                <span>Home Made Cereal 1 KG</span>
                                <span id="product-price">1,100.00৳</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Subtotal</span>
                                <span class="text-end" id="subtotal">1,100.00৳</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Shipping</span>
                                <span class="text-end">ফ্রি ডেলিভারি</span>
                            </li>
                            <li
                                    class="list-group-item d-flex justify-content-between fw-bold"
                            >
                                <span>Total</span>
                                <span class="text-end" id="total">1,100.00৳</span>
                            </li>
                        </ul>
                        <p class="card-text mt-3">Cash on delivery</p>
                        <p class="card-text">Pay with cash upon delivery.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-contact" id ="footer">
        <strong>PUREE Food Facility</strong><br />
        Address: Auchpara, Tongi, Gazipur, Dhaka, Bangladesh<br />
        Phone: 01852-437839<br />
        Email: monju.rasel@gmail.com
    </div>
    <div class="footer-social-icons">
        <a href="https://web.facebook.com/pureefoodfacility" target="_blank">
            <img
                    src="img/facebook.png"
                    alt="Facebook Icon"
                    width="40"
                    height="40"
            />
        </a>
        <a href="https://web.facebook.com/pureefoodfacility" target="_blank">
            <img
                    src="img/instagram.png"
                    alt="instagram Icon"
                    width="40"
                    height="40"
            />
        </a>
        <a href="https://web.facebook.com/pureefoodfacility" target="_blank">
            <img
                    src="img/x-logo.png"
                    alt="x-logo Icon"
                    width="40"
                    height="40"
            />
        </a>
    </div>
    <div class="footer-bottom">
        &copy; 2024 PUREE Food Facility. All rights reserved.
    </div>
</footer>
<script>
    const quantityInput = document.getElementById("quantity");
    const productPrice = document.getElementById("product-price");
    const subtotalElement = document.getElementById("subtotal");
    const totalElement = document.getElementById("total");

    const updatePrices = () => {
        const quantity = parseInt(quantityInput.value);
        const price = 1100;
        const subtotal = quantity * price;
        const total = subtotal;

        productPrice.textContent = `${price.toFixed(2)}৳`;
        subtotalElement.textContent = `${subtotal.toFixed(2)}৳`;
        totalElement.textContent = `${total.toFixed(2)}৳`;
    };

    quantityInput.addEventListener("input", updatePrices);
    updatePrices();
    // for scroll up btn.
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        var scrollToTopBtn = document.getElementById("scrollToTopBtn");

        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
